html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  background-color: var(--Very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 3rem 0;
  max-width: 90%;
}
@media (min-width: 1250px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    place-items: center;
    max-width: 55%;
    padding: 0;
  }
}

:root {
  --Blue: hsl(246, 80%, 60%);
  --Work-color: hsl(15, 100%, 70%);
  --Play-color: hsl(195, 74%, 62%);
  --Study-color: hsl(348, 100%, 68%);
  --Excercise-color: hsl(145, 58%, 55%);
  --Social-color: hsl(264, 64%, 52%);
  --Self-care-color: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

.profile {
  background-color: var(--Blue);
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2rem 0.5rem 2rem 1.75rem;
  gap: 1rem;
  place-items: center;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
}
.profile__image {
  width: 65px;
  height: 65px;
  border: 3px solid white;
  border-radius: 50%;
}
.profile__header {
  color: white;
  font-weight: 300;
}
@media (min-width: 1250px) {
  .profile__header {
    font-size: 2rem;
  }
}
@media (min-width: 1250px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: left;
    transform: translateY(4rem);
    padding-bottom: 3.5rem;
  }
}

h2 {
  display: flex;
  flex-direction: column;
  justify-self: left;
}

.report-for {
  color: var(--Pale-Blue);
  font-size: 1rem;
  font-weight: 400;
}

.sort {
  background-color: var(--Dark-blue);
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem 1.25rem 1.75rem;
  border-radius: 1rem;
  transform: translateY(-1.5rem);
}
@media (min-width: 1250px) {
  .sort {
    grid-row: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 3rem 2rem 2rem 1.75rem;
    width: 100%;
    transform: translateY(1.2rem);
  }
}

.btn {
  background-color: var(--Dark-blue);
  border-style: none;
  font-family: inherit;
  color: var(--Desaturated-blue);
  font-size: 1.15rem;
  cursor: pointer;
}

.btn:hover {
  color: var(--Pale-Blue);
}

.btn:focus {
  color: white;
}

.card {
  background-color: var(--Dark-blue);
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
@media (min-width: 1250px) {
  .card {
    min-width: 100%;
    margin-bottom: 0;
  }
}
.card__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
  padding: 1.75rem 1rem 1.75rem 1.5rem;
  border-radius: 1rem 1rem 0.8rem 0.8rem;
  background-color: var(--Dark-blue);
}
@media (min-width: 1250px) {
  .card__info {
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
.card__info:hover {
  background-color: rgb(42, 46, 107);
  cursor: pointer;
}
.card__header {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}
@media (min-width: 1250px) {
  .card__header {
    align-self: center;
  }
}
.card__current-hrs {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
}
@media (min-width: 1250px) {
  .card__current-hrs {
    font-size: 2rem;
  }
}
.card__previous-hrs {
  color: var(--Desaturated-blue);
  font-size: 0.9rem;
  font-weight: 400;
  justify-self: right;
  align-self: center;
}
@media (min-width: 1250px) {
  .card__previous-hrs {
    grid-row: 3;
    grid-column: 1/-1;
    justify-self: left;
  }
}

.more-options {
  cursor: pointer;
}

.more-options {
  align-self: center;
  justify-self: right;
}

.card.work {
  background-color: var(--Work-color);
  background-image: url(./images/icon-work.svg);
}

.card.play {
  background-color: var(--Play-color);
  background-image: url(./images/icon-play.svg);
}

.card.study {
  background-color: var(--Study-color);
  background-image: url(./images/icon-study.svg);
}

.card.exercise {
  background-color: var(--Excercise-color);
  background-image: url(./images/icon-exercise.svg);
}

.card.social {
  background-color: var(--Social-color);
  background-image: url(./images/icon-social.svg);
}

.card.self-care {
  background-color: var(--Self-care-color);
  background-image: url(./images/icon-self-care.svg);
}

.card.work,
.card.exercise,
.card.social,
.card.study,
.card.play,
.card.self-care {
  background-repeat: no-repeat;
  background-position: top right;
}

.card-background {
  height: 45px;
}
@media (min-width: 1250px) {
  .card-background {
    height: 35px;
  }
}

.profile,
.card.work,
.card.play,
.card.study {
  align-self: flex-end;
}

.sort,
.card.exercise,
.card.social,
.card.self-care {
  align-self: flex-start;
}/*# sourceMappingURL=style.css.map */